body {
    text-align: center;
    margin:auto;
    width: 50%;
    background-color: seashell;
    color: brown;
}
div {
    background-image: url("/IMG/family.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 770px;
    border: 10px solid salmon;
    border-style: outset;
    margin-top: 4%;
}

h1 {
    font-size: 250%;
    margin-top: 1%;
    font-family: 'Sulphur Point', sans-serif;
}
h2 {
    max-width: 250px;
    font-style: italic;
    position: relative;
    z-index: 1;
    top: 120px;
    left:480px;
    border: 1px solid gray;
    border-width: 1.5px;
    border-radius: 100px 1px;
    
}

.navbar {
    background-color: salmon;
    margin-top: 2%;
}


img {
    display:inline-block;
    width: 20%;
    margin-top:5%;
    margin-left: 10%;
    border: 5px solid salmon;
    border-style: inset;
}
footer {
    margin-right: 100px;
}
table {
    border: 2px outset salmon;
    text-align: center;
}